
/* colour theme */


:root {
    --clr-primary: #001A6E;
    --clr-danger: #F5004F;
    --clr-success: #00FF9C;
    --clr-white: #fff;
    --clr-info-dark: #9baec6;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warnig: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #074799;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);
  
  }
  
  /* dark theme */
  .dark-theme-variables {
    --color-background: #181a1e;
    --clr-white: #202528;
    --clr-light: rgba(0, 0, 0, 0.4);
    --clr-dark: #edeffd;
    --clr-dark-variant: #677483;
    --box-shadow: 0 2rem 3rem var(--clr-light)
  }


  /* css class start */

  .container{
    display: grid;
    grid-template-columns: 14rem auto 14rem;
  }